/*タブレット向け*/
@media (max-width: 1000px) {
    #study {
        width: 50%;
        margin-bottom: 50%;
    }
}


/*スマートフォン向け*/
@media (max-width: 670px) {
    #study {
        width: 100%;
    }
    footer {
        text-align: center;
    }
}
